
QLabel {
    text-transform: uppercase;
    font-weight: bold;
}

QGroupBox::title{
    color: $QTMATERIAL_SECONDARYTEXTCOLOR;
    text-transform: uppercase;
    font-weight: bold;
}

:pressed {
    background : red;
}

.help {
    border: 2px solid lightgray;
    background-color: lightgray;
    min-height: 14px;
    min-width: 14px;
    border-radius: 7px;
    color: black;
}

.connected{
    color: forestgreen;
}

.disconnected{
    color: red;
}

.selected_description{
    color: blue;
}

.danger-title{
    color : red;
    text-transform: uppercase;
    font-weight: bold;
}

QToolButton {
    text-transform: uppercase;
    font-weight: bold;
    border-left: none;
    border-right: none;
}

QToolButton:hover {
    border-left: none;
    border-right: none;
}

QToolButton:pressed {
    border-left: none;
    border-right: none;
}

QToolButton:checked {
    background: lightblue;
    border-left: none;
    border-right: none;
}
