
QLabel {
    text-transform: uppercase;
    font-weight: bold;
}

QGroupBox::title{
    color: $QTMATERIAL_SECONDARYTEXTCOLOR;
    text-transform: uppercase;
    font-weight: bold;
}

.help {
    border: 2px solid lightgray;
    background-color: lightgray;
    min-height: 14px;
    min-width: 14px;
    border-radius: 7px;
    color: black;
}

.connected{
    color: forestgreen;
}

.disconnected{
    color: red;
}

.selected_description{
    color: blue;
}

.danger-title{
    color : red;
    text-transform: uppercase;
    font-weight: bold;
}